<h1>Real Time Products</h1>
<h2 class="text-center">Formulario para agregar productos</h2>
<div>
    <form class="w-50 m-auto formAgregar">
  <div class="mb-3">
    <label class="form-label">Nombre del producto</label>
    <input type="text" class="form-control" name="titulo">
  </div>
    <div class="mb-3">
    <label class="form-label">Descripcion del producto</label>
    <input type="text" class="form-control" name="descripcion">
  </div>
      <div class="mb-3">
    <label class="form-label">Código del producto</label>
    <input type="text" class="form-control" name="codigo">
  </div>
      <div class="mb-3">
    <label class="form-label">Categoria del producto</label>
    <input type="text" class="form-control" name="categoria">
  </div>
      <div class="mb-3">
    <label class="form-label">Precio del producto</label>
    <input type="number" class="form-control" name="precio">
  </div>
      <div class="mb-3">
    <label class="form-label">Stock del producto</label>
    <input type="number" class="form-control" name="stock">
  </div>
      <div class="mb-3">
    <label class="form-label">Link de la imagen del producto</label>
    <input type="text" class="form-control" name="imagen">
  </div>
<div class="text-center">
   <button type="submit" class="btn btn-warning w-100">Agregar</button>
</div>
</form>
</div>
<h2>Listado de productos</h2>
<div class="container">
  <div class="row contenedorDeProductos">
    {{#each products}}
      {{#if status}}
        <div class="col-md-4 mb-4" data-id="{{id}}">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{titulo}}</h5>
              <p class="card-text">{{descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Código: {{codigo}}</li>
              <li class="list-group-item">Categoria: {{categoria}}</li>
              <li class="list-group-item">Precio: {{precio}} </li>
              <li class="list-group-item">Stock: {{stock}}</li>
            </ul>
            <button class="btn btn-danger w-100 py-2 mt-2 hover-shadow-lg btnBorrar" data-id="{{id}}">Eliminar</button>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>